html {
  background-image: url('img_5016.jpg');
}

.sticky {
  background-color: url("http://img13.deviantart.net/058a/i/2012/036/4/3/green_sticky_note_by_bonslyguy-d4orxnh.png")
}

.txt-align {
  text-align: center;

}


